/*--------------- ERROR PAGE STYLING --------------------*/

.error-section {
  min-height: 100vh;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-heading {
  color: var(--brand);
  font-size: 5rem;
}

.error-text {
  color: var(--gray);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.error-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
  color: var(--black);
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

.error-btn:hover {
  background-image: linear-gradient(var(--secondary), var(--secondary));
}

/*--------------- NAVBAR STYLING --------------------*/

.text {
  color: white;
  font-size: 4rem;
}

.navbar-container {
  padding: 1rem;
  background-color: var(--black);
  position: relative;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.7);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.brand {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--brand);
  font-family: "Cookie", cursive;
}

.navbar__hamburger {
  position: relative;
  z-index: 200;
}

.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 70%;
  height: 100vh;
  top: 0%;
  left: -100%;
  padding: 2rem;
  font-size: 1.3rem;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  transition: left 500ms;
  -webkit-transition: left 500ms;
  -moz-transition: left 500ms;
  -ms-transition: left 500ms;
  -o-transition: left 500ms;
  z-index: 199;
}

.navbar__links.menu-open {
  left: 0%;
}

.navbar__links--link {
  color: var(--black);
}

.navbar__links--link:not(:last-child) {
  margin-bottom: 2rem;
}

.navbar__contact-btn {
  display: inline-block;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--black);
  color: var(--primary);
  transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  cursor: pointer;
  z-index: 2;
}

.contact-btn--skew-fix {
  display: inline-block;
  transform: skew(20deg);
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -o-transform: skew(20deg);
}

@media only screen and (min-width: 600px) {
  .navbar__links {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 992px) {
  .brand {
    display: inline-block;
    min-width: 300px;
  }
  .navbar-container {
    padding: 1rem 2rem;
  }

  .navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    height: auto;
    width: 100%;
    column-gap: 40px;
    position: static;
    font-size: 1.2rem;
    background-image: linear-gradient(var(--black), var(--black)) !important;
  }

  .navbar__links--link {
    color: var(--links);
    position: relative;
    margin-bottom: 0 !important;
  }

  .navbar__links--link:first-child {
    margin-left: auto;
  }
  .navbar__links--link:last-child{
    margin-right: auto;
  }

  .navbar__links--link:hover {
    color: var(--primary);
  }

  .navbar__links--link.active {
    color: var(--secondary);
  }

  .navbar__links--link::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: -10px;
    background-color: var(--secondary);
    transition: width 200ms;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
    -o-transition: width 200ms;
  }

  .navbar__links--link:hover::after {
    width: 100%;
  }

  .navbar__links--link.active::after {
    width: 100%;
  }

  .navbar__contact-btn {
    display: inline-block;
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--secondary)
    );
    transition: transform 200ms, background-color 200ms;
    -webkit-transition: transform 200ms, background-color 200ms;
    -moz-transition: transform 200ms, background-color 200ms;
    -ms-transition: transform 200ms, background-color 200ms;
    -o-transition: transform 200ms, background-color 200ms;
    cursor: pointer;
    z-index: 2;
    margin-left: auto;
  }

  .navbar__contact-btn:active {
    transform: scale(0.95) translateY(2px) skew(-20deg);
    -webkit-transform: scale(0.95) translateY(2px) skew(-20deg);
    -moz-transform: scale(0.95) translateY(2px) skew(-20deg);
    -ms-transform: scale(0.95) translateY(2px) skew(-20deg);
    -o-transform: scale(0.95) translateY(2px) skew(-20deg);
  }

  .contact-btn--skew-fix {
    display: inline-block;
    color: var(--black);
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
  }

  .navbar__contact-btn::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(
      to right,
      var(--primary),
      var(--secondary)
    );
    opacity: 1;
    z-index: -2;
  }

  .navbar__contact-btn:hover::before {
    animation: contactBtn 800ms;
    -webkit-animation: contactBtn 800ms;
  }

  @keyframes contactBtn {
    0% {
      opacity: 1;
    }

    50% {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
    }
    100% {
      opacity: 0;
    }
  }

  .navbar__hamburger {
    display: none;
  }
}

/*--------------- CONTACT PAGE STYLING --------------------*/

.form-section {
  padding: 1rem;
}

.form-container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--black);
  text-align: center;
  box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  opacity: 0;
  animation: fadein 800ms forwards;
  -webkit-animation: fadein 800ms forwards;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.form {
  padding: 1rem;
}

.form-heading {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--bg);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

.input {
  width: 100%;
  background-color: transparent;
  outline: 0;
  border: 0;
  color: var(--lightgray);
}

.input::placeholder {
  color: var(--gray);
}

.form-icon {
  color: var(--gray);
  margin-right: 0.8rem;
}

textarea {
  resize: none;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.send-btn {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0.5em 1.5em;
  font-size: 0.9rem;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border: 0;
  outline: 0;
  transition: background-image 200ms;
  cursor: pointer;
  -webkit-transition: background-image 200ms, transform 200ms;
  -moz-transition: background-image 200ms, transform 200ms;
  -ms-transition: background-image 200ms, transform 200ms;
  -o-transition: background-image 200ms, transform 200ms;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.send-btn:hover {
  background-image: linear-gradient(var(--secondary), var(--secondary));
}

.send-btn:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.additional-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    var(--primary),
    var(--secondary)
  );
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

h2 {
  margin-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.info-container {
  display: flex;
  align-items: center;
  font-weight: semibold;
  color: var(--black);
}

.info-icon {
  margin-right: 0.8rem;
  font-size: 1.2rem;
}

@media only screen and (min-width: 600px) {
  .form-section {
    padding: 2rem;
  }
  .form {
    padding: 2rem;
  }
  .form-heading {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .input-container {
    padding: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  input,
  textarea {
    font-size: 1.1rem;
  }
  .send-btn {
    padding: 0.7em 2em;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .additional-info {
    padding: 2rem;
  }
  h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  .info {
    row-gap: 30px;
  }
  .info-container {
    font-size: 1.2rem;
  }
  .info-icon {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 992px) {
  .form-section {
    padding: 2rem;
    height: calc(100vh - 78px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    max-width: 1280px;
    width: 100%;
  }

  .form {
    padding: 2rem;
  }

  .form-heading {
    text-align: left;
    margin-bottom: 2rem;
  }
  .input-container {
    margin-bottom: 1rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
  }

  .form-icon {
    font-size: 1.3rem;
  }

  input,
  textarea {
    font-size: 1.3rem;
  }
  .send-btn {
    font-size: 1.2rem;
  }
  .additional-info {
    padding: 2rem;
    align-items: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  h2 {
    font-size: 2rem;
  }
}

/*--------------- HOME PAGE STYLING --------------------*/

.home-section {
  padding: 2rem 1rem;
  min-height: calc(100vh - 80px);
}

.home-content {
  display: grid;
  grid-template-rows: repeat(2);
  grid-template-columns: 1fr;
  row-gap: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.home-heading {
  font-size: 1.9rem;
  color: var(--brand);
  margin-bottom: 1rem;
}

.first-line {
  position: relative;
  animation: fadein-left 800ms forwards;
  -webkit-animation: fadein-left 800ms forwards;
}

@keyframes fadein-left {
  0%{
    opacity: 0;
    left: -20%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

.second-line {
  position: relative;
  animation: fadein-right 800ms forwards;
  -webkit-animation: fadein-right 800ms forwards;
}

@keyframes fadein-right {
  0%{
    opacity: 0;
    right: -20%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.fade-in-bottom {
  animation: fadein-bottom 800ms forwards;
  -webkit-animation: fadein-bottom 800ms forwards;
}

@keyframes fadein-bottom {
  0%{
    opacity: 0;
    transform: translateY(40%);
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
}
  100% {
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
}

.text-gradient {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  font-size: 1.1rem;
  color: var(--gray);
  margin-bottom: 2rem;
}

.home-btn {
  display: inline-block;
  padding: 0.7em 2em;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius:  100px;
  -webkit-border-radius:  100px;
  -moz-border-radius:  100px;
  -ms-border-radius:  100px;
  -o-border-radius:  100px;
  color: var(--black);
  animation: shine 1s infinite;
  -webkit-animation: shine 1s infinite;
}

.home-icon {
  margin-left: 0.5rem;
}

@keyframes shine {
  0% {
    box-shadow: 2px 2px 25px rgba(255,145,83,1);
  }
  50% {
    box-shadow: 2px 2px 5px rgba(255,145,83,1);
  }
  100% {
    box-shadow: 2px 2px 25px rgba(255,145,83,1);
  }
}

.home-vector img {
  max-width: 1000px;
}

@media only screen and (min-width: 600px) {
  .home-content {
    text-align: center;
  }
  .home-heading {
    font-size: 3rem;
  }
  .home-text {
    font-size: 1.2rem;
  }
  .home-btn {
  font-size: 1.3rem;

  }
}

@media only screen and (min-width: 1068px) {
  .home-section {
    padding: 2rem;
  }
  .home-content {
    text-align: left;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    column-gap:50px;
  }
  .home-info {
    align-self: center;
  }
  .home-vector {
    align-self: center;
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .home-heading {
    font-size: 3.2rem;
  }
  .home-text {
    font-size: 1.3rem;
    letter-spacing: 3px;
  }
  .home-btn {
    font-size: 1.4rem;
  }
}


/*--------------- SKILLS PAGE STYLING --------------------*/

.skill-section {
  padding: 2rem 1rem;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-container, .projects-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.skill-heading, .projects-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill span {
  position: relative;
  z-index: 3;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  color: var(--brand);
  background-color: var(--card);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  transition: transform 300ms, background-color 300ms, color 300ms;
  -webkit-transition: transform 300ms, background-color 300ms, color 300ms;
  -moz-transition: transform 300ms, background-color 300ms, color 300ms;
  -ms-transition: transform 300ms, background-color 300ms, color 300ms;
  -o-transition: transform 300ms, background-color 300ms, color 300ms;
  opacity: 0;
  animation-name: skillAnimation;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes skillAnimation {
  0% {
    opacity: 0;
    top: -20%;
  }
  100% {
    opacity: 1;
    top: 0%;
  }
}

.skill::before {
  content: "";
  display: block;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to left, var(--primary), var(--secondary));
  transition: width 500ms;
  -webkit-transition: width 500ms;
  -moz-transition: width 500ms;
  -ms-transition: width 500ms;
  -o-transition: width 500ms;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}


.skill:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.7);
}

.skill-name {
  letter-spacing: 2px;
  transition: color 500ms;
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -ms-transition: color 500ms;
  -o-transition: color 500ms;

}

.skill:hover .skill-name {
  color: var(--black);
}


.skill:hover::before {
  width: 100%;
}


.skill-icon {
  margin-right: 1rem;
  max-width: 50px;
}

@media only screen and (min-width: 600px) {
  .skill-section {
    padding: 2rem;
  }
  .skill-heading, .projects-heading {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .skill-container {
    gap: 30px;
  }
  .skill {
    padding: 1.5rem;
  }
  .skill-name {
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 992px) {
  .skill-heading, .projects-heading {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  .skill-container {
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
  .skill {
    padding: 2rem;
  }
  .skill-name {
    font-size: 1.5rem;
  }
}

/*--------------- Projects PAGE STYLING --------------------*/

.projects-section {
  padding: 2rem 1rem;
}

.projects-container {
  gap: 40px;
}

.project {
  background-color: var(--card);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: projectCard 500ms forwards;
  -webkit-animation: projectCard 500ms forwards;
  transition: transform 300ms;
  -webkit-transition: transform 300ms;
  -moz-transition: transform 300ms;
  -ms-transition: transform 300ms;
  -o-transition: transform 300ms;
}

.project:hover {
  transform: scale(1.07);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}

@keyframes projectCard {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
  50% {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}
100% {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
}



.project-img {
  max-width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.project-title {
  margin-bottom: 2rem;
  color: var(--brand);
  text-align: center;
}

.padding {
  padding: 2rem 1rem;
}

.project-links-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.github-link, .live-site-link {
  font-size: 0.9rem;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  transition: color 300ms, background-color 300ms;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -ms-transition: color 300ms, background-color 300ms;
  -o-transition: color 300ms, background-color 300ms;
}

.github-link {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: var(--black);
}

.github-link:hover {
  background-image: linear-gradient(to right, var(--secondary), var(--secondary));
}

.live-site-link  {
  background-image: linear-gradient(to right, var(--black), var(--black));
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.live-site-link:hover {
  color: var(--black);
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
}

@media only screen and (min-width: 600px) {
  .projects-section {
    padding: 3rem;
  }
  .project-title {
    font-size: 1.8rem;
  }
  .github-link, .live-site-link {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 902px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1280px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

