/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* -------------------- DEFAULTS ------------------------ */

:root {
  --bg: #101820ff;
  --primary: #FFB700;
  --secondary: #db7236;
  /* --secondary: #ff9153; */
  --black: black;
  --brand: #ebe8e8;
  --links: #8a8989;
  --gray: gray;
  --lightgray: lightgray;
  --card: black;
  /* --card: #292929; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--bg);
}


::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  background-color: lightgray;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, var(--secondary), var(--secondary));
} 

.error-msg {
  color: white;
}
