@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap');

/* -------------------- DEFAULTS ------------------------ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  font-family: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
}

